// @import "../variables.scss";
.product {
  // border: 1px solid fuchsia;
  text-align: center;
  padding: 1rem;
  background-color: #df9a10;
  font-size: 2.5rem;
  color: purple;
  margin: 0;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0;
  padding: 2rem;
  font-size: 1.1rem;
  list-style: none;
  background-image: linear-gradient(to bottom, #4293c9, #ffedd8);

  & .btns {
    // border: 1px solid fuchsia;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px black;
    color: purple;
    background-color: bisque;
    width: 200px;
    text-align: center;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px black;
      color: white;
      background-color: rgba(128, 0, 128, 0.699);
    }
  }
}
.search {
  text-align: center;
  padding: 1rem;
  #search {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    width: 250px;
  }
}
